body {
     text-align: center;
     background-color: rgb(85, 169, 248);
     color: white;
     font-family: 'EB Garamond', serif;

}
main {
     background-color: white;
     width: 50%;
     margin: auto; 
     border: 3rem;    
     border-radius: 1rem;
     font-family: 'EB Garamond', serif;
}


label {
     display: block;
     padding: 2rem;
     color: rgb(85, 169, 248);
     font-size: larger;
     padding-top: 1rem;
}

#initial-price {
     padding: 0.3rem;
     text-align: end;
     display: flex;
     margin: auto;
     background-color: black;
     border: 2rem;
     color: rgb(85, 169, 248);
     font-size: larger;
}

#stock-quantity {
     padding: 0.3rem;
     text-align: end;
     display: flex;
     margin: auto;
     background-color: black;
     border: 2rem;
     color: rgb(85, 169, 248);
     font-size: larger;
}

#current-price {
     padding: 0.3rem;
     text-align: end;
     display: flex;
     margin: auto;
     background-color: black;
     border: 2rem;
     color: rgb(85, 169, 248);
     font-size: larger;
}

#submit-btn {
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     padding-top: 0.8rem;
     padding-bottom: 0.8rem;
     font-size: larger;
     border-radius: 0.5rem;
     background-color: black;
     color: rgb(85, 169, 248);
}

#output-box {
     padding-top: 2rem;
     font-size: large;
     color: rgb(85, 169, 248);
     padding-bottom: 1rem;
     margin-top: 2rem;
     background-color: black;
     border-bottom-left-radius: 1rem;
     border-bottom-right-radius: 1rem;

}

.footer {
     padding: 1rem;  
     border-top-right-radius: 1rem;
     text-align: center;
     font-size: large;
     font-family: 'EB Garamond', serif;
  }
  
.footer .link {
    font-size: large;
    color: white;
}
  
.footer .social-link {
     font-size: larger;
}
  
.footer ul {
       padding-inline-start: 0px;
}
  
.footer .footer-header {
       font-weight: bolder;
       font-size: large;
       padding-top: 1rem;
}
  
  
.list-non-bullet {
     list-style: none;
}

.list-item-inline {
     display: inline;
     padding: 0rem 1rem;
}


.link {
     text-decoration: none;
     padding: 0.5rem 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}